Source: pmwiki
Section: web
Priority: extra
Maintainer: Robert Strobl <robert.strobl@student.hpi.uni-potsdam.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.pmwiki.org

Package: pmwiki
Architecture: all
Depends: ${misc:Depends}, php5-common
Suggests: httpd
Description: customizable and lightweight PHP-based wiki system using file-based storage
 PmWiki is a wiki-based system for collaborative creation and maintenance of
 websites. Pages can be edited either by the public or by small groups of 
 authors.
 . 
 PmWiki is written in PHP and allows to store the pages into files so that 
 no database is required, though MySQL can be used optionally.
 
